@use "globals" as globals; // Importa todo desde globals

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: globals.$color-secundario-texto;
    font-family: Lato;
    // cursor: wait;
}

body{
    background-color: globals.$color-primario-3;

    @include globals.respond-to("small"){
        background-color: #82ee2a;
    }
}

h1{
    @include globals.font(h1);
}

h2{
    @include globals.font(h2);
}

p{
    @include globals.font(parrafo);

    @include globals.respond-to(medium){
        @include globals.font("parrafo-movil");
    };
}

figcaption{
    @include globals.font(etiqueta);
}