@use "globals" as globals;

.portada{
    padding: globals.$space-lg 0;
    @include globals.hero('../assets/nocheEstrellada.jpg');

    h1{
        color: globals.$color-secundario;
        background-color: globals.$color-background-header;
        
        text-shadow: 5px 5px globals.$color-primario;
        font-weight: 400;

        padding: globals.$space-sm;
        text-align: center;

        border: globals.$border-h1;

        @include globals.respond-to(medium){          
            @include globals.font(h2);

            padding: 0
        };
    }

    img{
        width: 100%;
    }
}